<div class="container">
  <div class="row mb-5">
    <h3>商品詳細</h3>
  </div>
  <div class="row justify-content-center">
    <div class='col-md-3'>
      <%= image_tag @item.get_image(200, 200) %>
    </div>
    <div class='col-md-7'>
      <div class="row">
        <label class="col-2">商品名</label>
        <p class="col-2"><%= @item.name %></p>
      </div>
      <div class="row">
        <label class="col-2">商品説明</label>
        <p class="col-2"><%= @item.introduction %></p>
      </div>
      <div class="row">
        <label class="col-2">税込価格<br>
        (税抜価格)</label>
        <p class="col-3 align-self-center"><%= @item.price_including_tax.to_s(:delimited) %>(<%= @item.price.to_s(:delimited) %>)円</p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <%= link_to "編集する", edit_admin_item_path(@item), class: "btn btn-sm btn-success" %>
  </div>
</div>