<div class="container">
  <div class="row">
    <h3>会員一覧</h3>
  </div>
  <div class="row justify-content-center">
    <table class="table table-hover col-10">
      <thead>
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      
      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td class="col-1"><%= customer.id %></td>
            <td class="col-2"><%= link_to "#{customer.full_name}", admin_customer_path(customer.id), class: "secondary" %></td>
            <td class="col-2"><%= customer.email %></td>
            <td class="col-1 <%= customer.is_active ? 'text-green' : 'text-gray' %>"><%= customer.is_active ? '有効' : '退会済み' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>