<h1>Admin::Customers#show</h1>
<p>Find me in app/views/admin/customers/show.html.erb</p>
<div class="container">
  <div class="row">
    <h3><%= @customer.full_name %>さんの会員詳細</h3>
  </div>

  <div class="row">
    <table>
      <tbody>
        <tr>
          <th>会員ID</th><td><%= @customer.id %></td>
        </tr>
        <tr>
          <th>氏名</th><td><%= @customer.full_name %></td>
        </tr>
        <tr>
          <th>カナ</th><td><%= @customer.full_name_kana %></td>
        </tr>
        <tr>
          <th>郵便番号</th><td><%= @customer.postal_code %></td>
        </tr>
        <tr>
          <th>住所</th><td><%= @customer.address %></td>
        </tr>
        <tr>
          <th>電話番号</th><td><%= @customer.telephone_number %></td>
        </tr>
        <tr>
          <th>メールアドレス</th><td><%= @customer.email %></td>
        </tr>
        <tr>
          <th>会員ステータス</th>
          <td class="<%= @customer.is_active ? 'text-green' : 'text-gray' %>"><%= @customer.is_active ? '有効' : '退会済み' %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!--<div class="row">-->
  <!--  <p>配送先</p>-->
  <!--  <%#= link_to "一覧を見る",  %>-->
  <!--</div>-->

  <div class="row">
    <%= link_to "編集する", edit_admin_customer_path, class: "btn btn-success" %>
  </div>

</div>